<!-- INLINE SVG SUPPORT -->
<icon src="check.svg" class="icon" width="32" height="32"></icon>

<!-- SIMPLE HTML COMPONENTS -->
<module href="/components/header.html">your custom content.</module>

<!-- SIMPLE CONTENT REPEATING FOR PROTOTYPING -->
<ol>
  <li each="3">This is a repeated list item.</li>
</ol>

<!-- AUTOMATIC .WEBP GENERATION -->
<table>
  <td>
    <img src="./assets/pug.jpeg" srcset="./assets/pug@2x.jpeg 2x" width="350" alt="Pug sitting on a couch looking at a computer." />
    <h3>retina image with srcset</h3>
  </td>
  <td>
    <img src="./assets/pug.jpeg" width="350" alt="Pug sitting on a couch looking at a computer." />
    <h3>non-retina image without srcset</h3>
  </td>
</table>

<!-- AUTOMATIC EXTERNAL LINK PROTECTION FOR TARGET BLANK -->
<a href="https://github.com/pugson/parcel-static-template" target="_blank">This template on GitHub</a>